# build folders
build/
build_*/
tmp*/
packaged_*/
_x*/
xgui/
host/host
scripts/post_sys_link.tcl
kernel/common/types/network_types.svh

# log files
*.log
*.jou

# other folders
bins/
.ipcache/
.vscode/
workspace.*
